.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  margin: 15% auto; /* 15% from the top and centered */
  border: 3px solid #f57575;
  width: 80vw; /* Could be more or less, depending on screen size */
  height: max-content;
  border: 2px solid #4caf50;
  border-image: linear-gradient(to bottom right, #f5e4c3, lightblue) 1;
  background: #4caf50;
  padding: 20px;
  color: aliceblue;
  font-size:x-large;
  font-weight: lighter;
  font-family: 'Sanchez', serif;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.btn {
  display: inline-block;
  border: 2px solid #4caf50;
  background-color: #4caf50;
  color: white;
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 4px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #3e8e41;
  border-color: #3e8e41;
}
